*/.stack-work/
TAGS
.DS_Store
.stack-work
/numhask-hedgehog/.dir-locals.el
/numhask-space/.dir-locals.el
/dist-newstyle
/stack.yaml.lock
/.hie/
/.ghc.environment.*
/cabal.project.local*
/.hkgr/
/checklist.org
